configuration {
    modi: "window,run,ssh,drun";
	terminal: "st";
    drun-icon-theme: "Numix";
	theme: "sakura";

	sort: true;
    show-icons: true;
	disable-history: true;
	case-sensitive: false;
	hide-scrollbar: true;
	fake-transparency: true;
	scrollbar-width: 8;
	scroll-method: 0;
}
