alias ls='ls --color=auto'
alias lls='ls -l --color=auto'
alias grep='grep --color=auto'
alias diff='diff --color=auto'

alias xclip='xclip -sel clipboard'

alias D='cd ~/Downloads'
alias aa='cd ~/Aur'
alias dd='cd ~/Documents'
alias gg='cd ~/Github'
alias G='cd ~/Github'
alias pp='cd ~/Pictures'
alias vv='cd ~/Videos'
alias C='cd ~/.config'

alias vim='nvim'
alias v='nvim'
alias vr='nvim -R'
alias sv='sudo nvim'
alias svim='sudo nvim'
alias svr='sudo nvim -R'

alias s='sudo'

alias cp="rsync -ah --progress"

alias uctl='systemctl --user'
alias sctl='sudo systemctl'

alias shutdown='sudo shutdown -h now'
alias reboot='sudo reboot'
alias hibernate='systemctl hibernate'
